@media screen and (max-width: 1720px) {
    #menu {
        margin-right: 16%;
    }

    #menu2 {
        margin-right: 16%;
    }
}

@media screen and (max-width: 1630px) {
    #menu {
        margin-right: 13%;
    }

    #menu2 {
        margin-right: 13%;
    }
}

@media screen and (max-width: 1460px) {
    #menu {
        margin-right: 10%;
    }

    #menu2 {
        margin-right: 10%;
    }
}

@media screen and (max-width: 1420px) {
    #menu {
        margin-right: 7%;
    }

    #menu2 {
        margin-right: 7%;
    }


    #titulo1 {
        margin-left: 7%
    }

    .img-thumbnail {
        width: 100px;
    }

    h2, .h2 {
        font-size: 1.6rem;
    }

    .areaPet1 {
        margin-left: 127px;
    }
}

@media screen and (max-width: 1295px) and (min-width: 1140px) {
    html {
        font-size: 60%;
    }

    #menu {
        margin-right: 9%;
        margin-top: 19px;
    }

    #menu2 {
        margin-right: 9%;
    }

    #titulo1 {
        font-size: 8.0rem;
        margin-top: 1.4rem;
        margin-left: 6%
    }

    #loginUsuario{
        margin-left: 3%;
    }

    .opcoes {
        font-size: 1.6rem;
        width: 200px;
        height: 43.8px;
    }

    .opcoes2 {
        font-size: 1.6rem;
        width: 200px;
        height: 43.8px;
    }

    .opcoes3 {
        font-size: 40%;
    }

    .areaPet1 {
        margin-left: 120px;
    }

    .offset-4 {
        margin-left: 31%;
    }

    #marginRightDepartamento {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1199px) {
    #botao1 {
        clear: both;
        margin-right: 0%;
        position: absolute;
        left: 46%;
    }
}

@media screen and (max-width: 1140px) and (min-width: 925px) {
    html {
        font-size: 60%;
    }

    #menu {
        margin-right: 10%;
        margin-top: 18px;
    }

    #menu2 {
        margin-right: 10%;
    }

    #barraPesquisa {
        width: 48%;
    }

    #titulo1 {
        font-size: 8.0rem;
        margin-top: 1.4rem;
        margin-left: 6%
    }

    #loginUsuario{
        margin-left: 3%;
    }

    .opcoes {
        font-size: 1.6rem;
        width: 180px;
        height: 43.8px;
    }

    .opcoes2 {
        font-size: 1.6rem;
        width: 180px;
        height: 43.8px;
    }

    .opcoes3 {
        font-size: 40%;
    }

    .areaPet1 {
        margin-left: 120px;
    }

    .offset-4 {
        margin-left: 30%;
    }

    #marginRightDepartamento {
        margin-right: 29px;
    }

    #rowOpcoesContainer {
        margin-left: 30px;
    }
}

@media screen and (max-width: 1040px) {
    #divCasas {
        margin-left: 7.5%;
    }
}

@media screen and (max-width: 991px) {
    #botao2 {
        margin-top: 1px;
        font-size: 1.6rem;
    }

    #rowOpcoesContainer {
        margin-left: 8px;
    }

    #textoMedicamentos {
        margin-right: 24.5%;
    }

    #textoRacoes {
        margin-right: 74%;
    }

    #divCasas {
        margin-left: 4.5%;
    }
}

@media screen and (max-width: 925px) and (min-width: 880px) {
    html {
        font-size: 55%;
    }

    #menu {
        margin-right: 6%;
        margin-top: 12px;
    }

    #menu2 {
        margin-right: 6%;
    }

    #barraPesquisa {
        width: 48%;
    }

    #titulo1 {
        font-size: 8.0rem;
        margin-top: 1.4rem;
        margin-left: 6%
    }

    #loginUsuario{
        margin-left: 3%;
    }

    .opcoes {
        font-size: 1.4rem;
        width: 160px;
        height: 43.8px;
    }

    .opcoes2 {
        font-size: 1.4rem;
        width: 160px;
        height: 43.8px;
    }

    #barraPesquisa {
        width: 44%;
    }

    #carrinho {
        margin-left: 1%;
    }

    .opcoes3 {
        font-size: 40%;
    }

    .areaPet1 {
        margin-left: 120px;
    }

    #botao2 {
        margin-top: 1px;
        font-size: 1.6rem;
    }

    .offset-4 {
        margin-left: 30%;
    }

    #marginRightDepartamento {
        margin-right: 27px;
    }
}

@media screen and (max-width: 880px) and (min-width: 769px) { /* 768 marca o col-md do bootstrap */
    html {
        font-size: 55%;
    }

    #menu {
        margin-right: 6.7%;
        margin-top: 12px;
    }

    #menu2 {
        margin-right: 6.7%;
    }

    #barraPesquisa {
        width: 37%;
    }

    #titulo1 {
        font-size: 8.0rem;
        margin-top: 1.4rem;
        margin-left: 6%
    }

    #loginUsuario{
        margin-left: 3%;
    }

    .opcoes {
        font-size: 1.3rem;
        width: 140px;
        height: 44.8px;
    }

    .opcoes2 {
        font-size: 1.3rem;
        width: 140px;
        height: 44.8px;
    }

    #banner {
        height: 18.0rem;
    }

    .areaPet1 {
        margin-left: 120px;
    }

    #botao2 {
        margin-top: 1px;
        font-size: 1.6rem;
    }

    .offset-4 {
        margin-left: 25%;
    }

    #marginRightDepartamento {
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .petTexto1 {
        font-size: 2.2rem;
    }

    .areaPet1, #rowOpcoesContainer, #menu, #menu2, #barraPesquisa {
        display: none;
    }

    .textoMdScreen {
        display: block;
    }

    #rowOpcoesContainer2, #row2OpcoesContainer2 {
        position: relative;
        z-index: 0;
        opacity: 1;
        left: 10.5%;
        user-select: auto;
        pointer-events: visible;
    }

    .img-thumbnail {
        margin-bottom: 30px;
        width: 85px;
    }

    .offset-3 {
        margin-left: 19%;
    }

    #botao1 {
        left: 45%;
    }
}

@media screen and (max-width: 576px) {
    .petTexto1 {
        font-size: 1.8rem;
    }

    #rowOpcoesContainer2, #row2OpcoesContainer2 {
        text-align: center;
        left: 0%;
    }

    #row2OpcoesContainer2 {
        margin-top: 0px;
    }

    .offset-3 {
        margin-left: 19%;
    }

    #botao1 {
        left: 40%;
    }
}




@media Only screen and (max-width: 1199px) {
    .imgLgScreen {
        display: none;
    }

    .imgMdScreen {
        display: block;
        margin: auto;
    }
}

@media Only screen and (max-width: 1017px) and (min-width: 925px) {
    #menu, #menu2 {
        margin-right: 10%;
    }

    .opcoes {
        font-size: 1.4rem;
        width: 160px;
        height: 43.8px;
    }

    .opcoes2 {
        font-size: 1.4rem;
        width: 160px;
        height: 43.8px;
    }

    #barraPesquisa {
        width: 44%;
    }

    #carrinho {
        margin-left: 1%;
    }


}
