// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$myColor: #8d64db;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

$carousel-control-color: $purple;

$carousel-indicator-width:           100px;
$carousel-indicator-height:          10px;
$carousel-indicator-active-bg:       $teal;
$carousel-caption-color:             $white;
$carousel-transition-duration:       .3s;

@import '../node_modules/bootstrap/scss/bootstrap';

html {
    /*a cada 1rem será considerada 10px */
    /* o rem pega o tamanho do pai que é esse font-size aqui do html */
    font-size: 67.5%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

main {
    font-size: 1.8rem;
}

#banner {
    width: 100%;
    height: 18.0rem;
    background-color: #561D25;
    font-size: 1.8rem;
}

#titulo1 {
    float: left;
    margin-left: 10%;
    margin-top: 1.0rem;
    color: white;
    font-size: 10.0rem;
    font-family: 'Amatic SC', cursive;
}

#barraPesquisa {
    width: 52%;
    float: left;
    margin-left: 5%; /*Preciso ir arrumando isso aqui nos medias queries, observando os breakpoints */
    margin-top: 6.0rem;
}

#campoPesquisa {
    font-size: 1.8rem;
}

#botaoPesquisa {
    font-size: 1.8rem;
}

#loginUsuario {
    float: left;
    width: 100px;
    color: white;
    margin-left: 2%;
    margin-top: 6.0rem;
    font-size: 1.6rem;
}

#carroussel {
    border: 1px solid red;
    margin-top: 15px;
    text-align: center;
    height: 400px;
}

#pet1 {
    margin-top: 20px;
    margin-left: 8%;
}

#pet2 {
    margin-top: 20px;
    margin-left: 8%;
}

#carrinho {
    margin-top: 7.0rem;
    float: left;
    margin-left: 2%;
    font-size: 1.6rem;
    color: white;
}

#menu {
    float: right;
    margin-right: 18.5%;
    /*display: none; /*Só para o live server parar de bugar*/
}

#areaMenu {
    margin-left: 0%;
    list-style: none;
    padding: 0px;
}

.opcoes {
    width: 22.0rem; /* ~(1024/3) */
    height: 46.8px;
    border-right: 1px solid rgba(0, 0, 0, 0.322);
    text-align: center;
    float: left;
    margin-top: 0px;
}

.opcoes2 {
    width: 22.0rem; /* ~(1024/3) */
    background-color: white;
    border-right: 1px solid rgba(0, 0, 0, 0.322);
    text-align: center;
    float: left;
    margin-top: 0px;
}

#menu2 {
    position: absolute; 
    z-index: 10;
    right: 0; /*usado para simular uma flutuação para a direita */
    margin-right: 18.5%;
}

#areaMenu2 {
    margin-left: 0%;
    list-style: none;
    padding: 0px;
}

.sub-item {
    border-radius: 3px;
    background-color: #66ddb9bb;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
}

#sub-inicio {
    opacity: 0;
}

#sub-cachorro {
    display: none;
    /*background-color: #2f9b7aca;*/
}

#sub-gato {
    opacity: 0;
}

#sub-medicamento {
    opacity: 0;
}

#sub-sobre {
    opacity: 0;
}



/* Verificar as propriedes depois
#hamburguer1 {
    background-color: blue;
    position: absolute;
    float: left; 
    border: 1px solid black; 
    z-index: 10;
    -webkit-transition-: opacity 1s ease-out; 
    opacity: 0; 
} */



#hamburguer1:hover{
    opacity: 1;
    margin-top: 47px;
    width: 237.1px;
    height: 100px;
}

#opcInicio {
    float: left;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 40%;
}

#opcCachorro {
    float: left;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 32%;
}

#opcGato {
    float: left;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 38%;
}

#opcMedicamento {
    float: left;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 24%;
}

#opcSobre {
    float: left;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 38%;
}

.limpar {
    clear: both;
}

.branco {
    color: white;
}


/* media queries */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    #titulo1 {
        font-size: 10.0rem;
        margin-left: 4%;
        margin-top: 0;
    }

    #barraPesquisa {
        display: none;
        width: 45%;
        float: right;
        margin-top: 6.0rem;
        margin-right: 10%;
    }

    #banner {
        height: 16.0rem;
    }
}
