html {
    /*a cada 1rem será considerada 10px */
    /* o rem pega o tamanho do pai que é esse font-size aqui do html */
    font-size: 67.5%;
}

main {
    font-size: 1.8rem;
}

#banner {
    width: 100%;
    border: 1px solid black;
    height: 20.0rem;
    background-color: #561D25;
    font-size: 1.8rem;
}

#titulo1 {
    float: left;
    margin-left: 10%;
    margin-top: 3.0rem;
    color: white;
    font-size: 6.0rem;
}

#barraPesquisa {
    width: 50%;
    float: left;
    margin-left: 9%; /*Preciso ir arrumando isso aqui nos medias queries, observando os breakpoints */
    margin-top: 6.0rem;
}

#campoPesquisa {
    font-size: 1.8rem;
}

#botaoPesquisa {
    font-size: 1.8rem;
}

#loginUsuario {
    float: left;
    width: 100px;
    color: white;
    margin-left: 2%;
    margin-top: 6.0rem;
    font-size: 1.6rem;
}

#pet1 {
    margin-top: 20px;
    margin-left: 8%;
}

#pet2 {
    margin-top: 20px;
    margin-left: 8%;
}

#carrinho {
    margin-top: 7.0rem;
    float: left;
    margin-left: 2%;
    font-size: 1.6rem;
    color: white;
}

#menu {
    float: right;
    border: 1px solid green;
    width: 1500px;
    margin-right: 10%;
    margin-top: 20px;

}

#areaMenu {
    margin-left: 15%;
    list-style: none;
    padding: 0px;
}

.opcoes {
    width: 220px; /* ~(1024/3) */
    height: 25px;
    text-align: center;
    border: 1px solid black;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.limpar {
    clear: both;
}


/* media queries */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    #titulo1 {
        font-size: 10.0rem;
        margin-left: 4%;
        margin-top: 0;
    }

    #barraPesquisa {
        display: none;
        width: 45%;
        float: right;
        margin-top: 6.0rem;
        margin-right: 10%;
    }

    #banner {
        height: 16.0rem;
    }
}
